---
subtitle: CSE Field Members
nav: people
---

<hr/>
{% for p in site.data.field %}
{% if p.gone %}{% else %}
<div class="panel fill">
  {% if p.pic %}<figure class="align-right"><img class="round" alt="{{ p.name }}" width="100" src="{{ p.pic }}"></figure>{% endif %}
  <div>
    <p>
      <h4><a href="{{ p.url }}">{{ p.name }}</a></h4>
      {{ p.dept }}<br/>
      {{ p.office }}<br/>
      {{ p.phone }}<br/>
      <a href="mailto:{{ p.email }}">{{ p.email }}</a>
    </p>
    <p>
      {{ p.blurb }}
    </p>
  </div>
</div>
{% endif %}
{% endfor %}
