<!-- Cornell Search (2014 only) -->
<div class="band" id="cu-search-band">
  <div class="container">

    <div class="valign">
      <div id="cu-search" class="options" role="search">
        <form action="http://www.cornell.edu/search/">
          <label for="search-form-query" class="sans">Search:</label>
          <input type="text" id="search-form-query" name="s" value="" size="30">
          <button name="btnG" id="search-form-submit" type="submit" value="go"><span class="fa fa-chevron-right"></span><span class="hidden">Go</span></button>

          <div class="search-filters">
            <h2 class="hidden">Search Filters:</h2>
            <input type="radio" id="search-filters1" name="sitesearch" value="thissite" checked="checked">
            <label for="search-filters1">This Site</label>
            <input type="radio" id="search-filters2" name="sitesearch" value="cornell">
            <label for="search-filters2">Cornell</label>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
