<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Template - Cornell CSS Framework</title>
	
	<link href="css/base.css" rel="stylesheet">
	<link href="css/cornell.css" rel="stylesheet">
	<link href="css/cwd_utilities.css" rel="stylesheet">
	
	<!-- Activate for Cornell.edu typography and basic patterns -->
	<!-- <link rel="stylesheet" href="https://use.typekit.net/nwp2wku.css"> -->
	<!-- <link href="css/cwd_patterns.css" rel="stylesheet"> -->
	
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	<!-- Icon Fonts -->
	<link href="fonts/font-awesome.min.css" rel="stylesheet">
	<link href="fonts/material-design-iconic-font.min.css" rel="stylesheet">
	
</head>
<body class="cu-seal one-column-article">

	<div id="skipnav"><a href="#main">Skip to main content</a></div>
	
	<div class="band" id="super-header">
		<!-- Start Cornell Branding ////////////////////////////////////////////// -->	
		<header id="cu-header">
			<div id="cu-search" class="cu-search">
				<div class="container-fluid">
					<form id="cu-search-form" tabindex="-1" role="search" action="https://www.cornell.edu/search/">
						<label for="cu-search-query" class="sr-only">Search:</label>
						<input type="text" id="cu-search-query" name="q" value="" size="30">
						<button name="btnG" id="cu-search-submit" type="submit" value="go"><span class="sr-only">Submit Search</span></button>

						<fieldset class="search-filters" role="radiogroup">
							<legend class="sr-only">Search Filters</legend>
							<input type="radio" id="cu-search-filter1" name="sitesearch" value="thissite" checked="checked">
							<label for="cu-search-filter1"><span class="sr-only">Search </span>This Site</label> 
							<input type="radio" id="cu-search-filter2" name="sitesearch" value="cornell">
							<label for="cu-search-filter2"><span class="sr-only">Search </span>Cornell</label>
						</fieldset>
					</form>
				</div>
			</div>
			<div class="cu45-helper"></div>
			<div class="container-fluid cu-brand">
				<h1 class="cu-logo"><a href="https://www.cornell.edu"><img class="sr-only" src="images/cornell/bold_cornell_logo_simple_b31b1b.svg" alt="Cornell University" width="245" height="62"></a></h1>
				<div class="cu-unit">
					<h2>Program in Computational Science and Engineering</h2>
					<h3 class="sans">{{ page.title }}</h3>
				</div>
				<div class="buttons">
					<button class="mobile-button" id="mobile-nav">Main Menu</button>
					<button class="mobile-button" id="cu-search-button">Toggle Search Form</button>
				</div>
			</div>
		</header>
		<!-- End Cornell Branding \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

		<header id="site-header" aria-label="Site Banner">
		
			<nav class="dropdown-menu dropdown-menu-on-demand" id="main-navigation" aria-label="Main Navigation">
				<div class="container-fluid" role="application" aria-label="Main Navigation Dropdown Menus">
					<a id="mobile-home" href="#"><span class="sr-only">Home</span></a>
					<ul class="list-menu links">
						<li class="active parent"><a href="index.html">Template</a>
							<ul class="list-menu links vertical children">
								<li><a href="index21.html"><abbr title="In-Development/Experimental">DEV</abbr> Template (2021 Components)</a></li>
								<li><a href="index_experimental.html"><abbr title="In-Development/Experimental">DEV</abbr> Experiments</a></li>
							</ul>
						</li>
						<li class="parent"><a href="style.html">Styleguide</a>
							<ul class="list-menu links vertical children">
								<li><a href="patterns.html">Design Patterns</a></li>
								<li><a href="patterns_people.html">People</a></li>
								<li><a href="forms.html">Forms</a></li>
								<li><a href="tables.html">Tables (Responsive)</a></li>
								<li><a href="style_customer.html"><abbr title="In-Development/Experimental">DEV</abbr> Customer Styleguide</a></li>
							</ul>
						</li>
						<li class="parent"><a href="drupal.html">Drupal Components</a>
							<ul class="list-menu links vertical children">
								<li><a href="cms_drupal.html">Drupal CMS</a></li>
							</ul>
						</li>
						<li><a href="js.html">Scripted Components</a></li>
						<li class="parent"><a href="#">Tone's Projects</a>
							<ul class="list-menu links vertical children">
								<li><a href="projects/project.html">Starter Project</a></li>
								<li class="menu-section"><a href="login_cuwa.html">CU Login</a></li>
								<li class="menu-section parent"><a href="projects/cbb.html">Bright Beams Secondary</a>
									<ul class="list-menu links vertical children">
										<li><a href="projects/cbb_home.html">Bright Beams Home</a></li>
									</ul>
								</li>
								<li class="parent"><a href="projects/brooks.html">Brooks Secondary</a>
									<ul class="list-menu links vertical children">
										<li><a href="projects/brooks_home.html">Brooks Home</a></li>
									</ul>
								</li>
								<li class="parent"><a href="projects/diversity.html">Diversity Secondary</a>
									<ul class="list-menu links vertical children">
										<li><a href="projects/diversity_home.html">Diversity Home</a></li>
										<li><a href="projects/diversity_belonging.html">Diversity Belonging</a></li>
									</ul>
								</li>
								<li class="parent"><a href="projects/einaudi.html">Einaudi Secondary</a>
									<ul class="list-menu links vertical children">
										<li><a href="projects/einaudi_home.html">Einaudi Home</a></li>
										<li><a href="projects/einaudi_program.html">Einaudi Program</a></li>
										<li class="menu-section"><a href="projects/einaudi_home_global.html">Einaudi-Global Home</a></li>
										<li><a href="projects/einaudi_program_global.html">Einaudi-Global Program</a></li>
										<li><a href="projects/einaudi_global.html">Einaudi-Global Secondary</a></li>
										<li><a href="projects/einaudi_global_landing.html">Einaudi-Global Landing</a></li>
									</ul>
								</li>
								<li class="parent"><a href="projects/fcs.html">FCS Secondary</a>
									<ul class="list-menu links vertical children">
										<li><a href="projects/fcs_home.html">FCS Home</a></li>
										<li><a href="projects/fcs_home_slider.html">FCS Home 2022</a></li>
										<li><a href="projects/fcs_ct.html">FCS Components</a></li>
									</ul>
								</li>
								<li class="parent"><a href="projects/ogl.html">Global Learning Secondary</a>
									<ul class="list-menu links vertical children">
										<li><a href="projects/ogl_home.html">Global Learning Home</a></li>
										<li><a href="projects/ogl_search.html">Global Learning Search</a></li>
									</ul>
								</li>
								<li class="parent"><a href="projects/itc.html">IT@Cornell</a>
									<ul class="list-menu links vertical children">
										<li><a href="projects/itc_home.html">IT@Cornell Home</a></li>
										<li><a href="projects/itc_home2022.html">IT@Cornell Home 2022</a></li>
									</ul>
								</li>
								<li class="parent"><a href="projects/lassp.html">LASSP Secondary</a>
									<ul class="list-menu links vertical children">
										<li><a href="projects/lassp_home.html">LASSP Home</a></li>
										<li><a href="projects/lassp_group.html">LASSP Research Group</a></li>
									</ul>
								</li>
								<li class="parent"><a href="projects/living-lab.html">Living Laboratory</a>
									<ul class="list-menu links vertical children">
										<li><a href="projects/living-lab_listing.html">Living Laboratory Listing</a></li>
									</ul>
								</li>
								<li class="parent"><a href="projects/migrations.html">Migrations Secondary</a>
									<ul class="list-menu links vertical children">
										<li><a href="projects/migrations_home.html">Migrations Home</a></li>
										<li><a href="projects/migrations_news.html">Migrations News</a></li>
									</ul>
								</li>
								<li class="parent"><a href="projects/scl.html">SCL Secondary</a>
									<ul class="list-menu links vertical children">
										<li><a href="projects/scl_home.html">SCL Home</a></li>
										<li><a href="projects/scl_landing.html">SCL Landing Page</a></li>
										<li><a href="projects/scl_sublanding.html">SCL Sublanding Page</a></li>
										<li><a href="projects/scl_psc.html">SCL Public Service</a></li>
									</ul>
								</li>
								<li class="menu-section parent"><a href="#">Archive</a>
									<ul class="list-menu links vertical children">
										<li class="parent"><a href="projects/china.html">China Center Splash Page</a>
											<ul class="list-menu links vertical children">
												<li><a href="projects/china_carousel.html">China Center with Carousel</a></li>
											</ul>
										</li>
										<li class="parent"><a href="projects/cti.html">CTI Secondary</a>
											<ul class="list-menu links vertical children">
												<li><a href="projects/cti_home.html">CTI Home</a></li>
												<li><a href="projects/cti_impact.html">CTI Editorial</a></li>
												<li><a href="projects/cti_landing.html">CTI Landing Page</a></li>
												<li><a href="projects/cti_people.html">CTI People Page</a></li>
											</ul>
										</li>
										<li><a href="projects/delegate.html">Delegate App</a></li>
										<li><a href="projects/emn.html">EMN Preferences</a></li>
										<li><a href="projects/feeney.html">Feeney iPad Kiosk</a></li>
										<li class="parent"><a href="projects/grad.html">Grad Secondary</a>
											<ul class="list-menu links vertical children">
												<li><a href="projects/grad_home.html">Grad Home</a></li>
												<li><a href="projects/grad_impact.html">Grad Editorial</a></li>
												<li><a href="projects/grad_lockups.html">Grad Lockups</a></li>
											</ul>
										</li>
										<li class="parent"><a href="projects/hudson.html">Hudson Secondary</a>
											<ul class="list-menu links vertical children">
												<li><a href="projects/hudson_home.html">Hudson Home</a></li>
											</ul>
										</li>
										<li class="parent"><a href="projects/wildlife.html">Wildlife Secondary</a>
											<ul class="list-menu links vertical children">
												<li><a href="projects/wildlife_home.html">Wildlife Home</a></li>
												<li><a href="projects/wildlife_impact.html">Wildlife Editorial</a></li>
												<li><a href="projects/wildlife_program.html">Wildlife Program Page</a></li>
												<li><a href="projects/wildlife_people.html">Wildlife People Page</a></li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		
		</header>
	</div>

	<div id="main-content" class="band">
		<main id="main" class="container-fluid aria-target" tabindex="-1">
		
			<div class="row">
				<article id="main-article" class="primary">
                                  {{ content }}
				</article>
			</div>
				
		</main>
	</div>
	
	<footer>
		<div class="main-footer">
			<div class="container-fluid sidebar-left">
				<div class="row">
					<div class="primary">
						<h2 class="h4">Program
						in Computational
						Science and Engineering</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="sub-footer">
			<div class="container-fluid sidebar-left">
				<div class="row">
					<div class="content">
						<div class="two-col">
							<div>
								<ul class="custom inline no-bullet">
									<li><a href="https://www.cornell.edu">Cornell University</a> ©2024</li>
									<li><a href="https://privacy.cornell.edu/">University Privacy</a></li>
								</ul>
							</div>
							<div>
								<ul class="custom inline no-bullet">
									<li><a href="https://accessibility.cornell.edu/information-technology/web-accessibility/web-accessibility-assistance/">Web Accessibility Assistance</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
	<!-- jQuery and Contributed Components -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	
	<!-- CWD Components -->
	<script src="js/cwd.js"></script>
	<script src="js/cwd_utilities.js"></script>

</body>
</html>
