---
layout: default
---

<section class="band" id="main-content">
	<div class="band stunt-double"><div class="container stunt-double"></div></div>
	<div class="container">
		<div class="secondary border-box" id="sidebar-top">
			<!-- Right sidebar, appears before main text in mobile -->
			{% if page.sidebar_top %}{% include {{ page.sidebar_top}} %}{% endif %}
		</div>
		<div class="secondary border-box" id="sidebar-two">
			<!-- Left sidebar, appears before main text in mobile -->
			{% if page.sidebar_two %}{% include {{ page.sidebar_two}} %}{% endif %}
		</div>
		<main id="main" tabindex="-1" class="aria-target border-box">
			<article>
				{{ content }}
			</article>
		</main>
		<div class="secondary border-box" id="sidebar-bottom">
			<!-- Right sidebar, appears after main text in mobile -->
			{% if page.sidebar_bottom %}{% include {{page.sidebar_bottom}} %}{% endif %}
		</div>
	</div>
</section>
